body{
    display: grid;
    grid-template-areas:
    "header header"
    /* "center center" */
    "center menu"
    "footer footer";
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 1fr 40%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}
div.part{
    padding: 20px;
    background: lightgray;
}
#header{
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-area: header;
    padding: 0px 10px;
}
#center{
    grid-area: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#menu{
    grid-area: menu;
    display: block;
}
#footer{
    grid-area: footer;
}
#loginForm{
    /* display: grid; */
    display: none;
    grid-template-rows: 0.2fr 1fr 1fr 0.8fr;
    grid-auto-rows: auto;
    position: absolute;
    height: 40%;
    width: 50%;
    background: rgba(59, 187, 123, 0.9);
    margin-left: 25%;
    margin-top: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#regForm{
    display: grid;
    /* display: none; */
    align-items: center;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 0.8fr;
    grid-auto-rows: auto;
    position: absolute;
    height: 45%;
    width: 50%;
    background: rgba(173, 118, 67, 0.9);
    margin-left: 25%;
    margin-top: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
input.login{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    height: 40%;
    margin-left: 20%;
}
input.loginButton{
    width: 40%;
    margin-left: 30%;
}
input.reg{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    height: 40%;
    margin-left: 20%;
}
input.regButton{
    width: 40%;
    margin-left: 30%;
}
input.header{
    height: 100%;
}